:root {
  --header-height: 80px;
  --button-color: #3498db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .button {
    padding: 0.5rem 1rem;
    border-radius: 2px;
    font-size: 1rem;
    cursor: pointer;  
    background-color: transparent;
    border: 2px solid var(--button-color);
    color: var(--button-color);
}

.button:hover {
    background-color: var(--button-color);
    color: white;
}