.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    height: var(--header-height);
  }

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-buttons {
    display: flex;
    gap: 1rem
}



